*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: sans-serif;
  background-color: #0abab5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h2{
  font-size: 40px;
  color: #1b2727;
}
#entries{
  display: block;
  font-size: 40px;
  font-weight:500;
  color: #1b2727;
  background-color: #defcff;
  padding: 150px 60px 150px 60px;
  border-radius: 2rem;
  border: 0.2rem solid black ;
}

#player1{
  margin-bottom: 30px;
}

#entries input{
  border-radius: 0.5rem;
  font-size: 40px;
  font-weight:500;
  background-color: #a8ebe9;
}

#start{
  font-size: 40px;
  background-color: #a8ebe9;
  width: 100%;
  margin-top: 30px;
  border-radius: 1rem;
}

#gameBoard{
  display: none;
  grid-template-columns: 14rem 14rem 14rem;
  grid-template-rows: 14rem 14rem 14rem;
  gap: 0.6rem;
  max-width: 43rem;
  background-color: #294040;
} 

#gameBoard span{
  background-color: #0abab5;
  display: grid;
  place-content: center;
  padding: 1rem;
  font-size: 100px;
  color:#294040 ;
}

.cursor-pointer{
  cursor: pointer;
}
.cursor-pointer:hover{
  transition: 0.3s;
  filter: brightness(0.5);
}





